<p style="color: green"><%= notice %></p>

<h1 class="text-3xl font-bold underline">Posts</h1>
<br/>
<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post %>
    </p>
  <% end %>
</div>
<br/>
<%= link_to "New post", new_post_path, class: "bg-blue-300 text-white font-normal rounded-md text-md p-2" %>
